.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  color: #6b6565;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    color: #9c9a9a;
  }
}

.progressContainer {
  padding-top: 16px;
}
