.image {
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

.primary {
  border-color: var(--color-primary);
}

.teal {
  border-color: var(--color-teal);
}

.green {
  border-color: var(--color-green);
}

.yellow {
  border-color: var(--color-yellow);
}

.circular {
  border-radius: 50%;
}

.notCircular {
  border-radius: 0px;
}

.colored {
  filter: none;
  opacity: 1;
}

.grayscale {
  filter: grayscale(1);
  opacity: 0.5;
}
