.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 16px;
}

.imageContainer {
  display: block;
}

@media (max-width: 480px) {
  .imageContainer {
    display: none;
  }
}
