.container {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: var(--text-color-primary);
  font-size: var(--font-size-xs-sm);
}
