@media (prefers-color-scheme: dark) {
  :root {
    --background-error: #ba3232;
    --background-green: #3a8f26;
    --background-highlight-primary: #1a3333;
    --background-highlight-secondary: #0f2222;
    --background-highlight-tertiary: #1f3f3f;
    --background-primary: #080d0d;
    --background-purple: #6832ab;
    --background-quaternary: #162e2e;
    --background-secondary: #0f1e1e;
    --background-tertiary: #0a1e1e;
    --background-warning: #ba6d32;
    --badge-blue-background: #0030b9;
    --badge-blue-color: #fff5f5;
    --badge-brown-background: #5c360d;
    --badge-brown-color: #fff5f5;
    --badge-coal-background: #4f5055;
    --badge-coal-color: #fff5f5;
    --badge-darkgreen-background: #106247;
    --badge-darkgreen-color: #fff5f5;
    --badge-emerald-background: #00781e;
    --badge-emerald-color: #fff5f5;
    --badge-gray-background: #a8a8a8;
    --badge-gray-color: #0f0f0f;
    --badge-green-background: #42bc28;
    --badge-green-color: #0f0f0f;
    --badge-lavender-background: #c696dc;
    --badge-lavender-color: #0f0f0f;
    --badge-lightblue-background: #5d9ed1;
    --badge-lightblue-color: #0f0f0f;
    --badge-maroon-background: #860202;
    --badge-maroon-color: #fff5f5;
    --badge-mint-background: #679c35;
    --badge-mint-color: #fff5f5;
    --badge-navy-background: #0000a7;
    --badge-navy-color: #fff5f5;
    --badge-orange-background: #f08c23;
    --badge-orange-color: #0f0f0f;
    --badge-peach-background: #d68369;
    --badge-peach-color: #0f0f0f;
    --badge-peanut-background: #a56f34;
    --badge-peanut-color: #fff5f5;
    --badge-pink-background: #d83297;
    --badge-pink-color: #fff5f5;
    --badge-primary-background: #41b2b2;
    --badge-primary-color: #080d10;
    --badge-purple-background: #7308aa;
    --badge-purple-color: #fff5f5;
    --badge-red-background: #ac0606;
    --badge-red-color: #fff5f5;
    --badge-snow-background: #dfdfdf;
    --badge-snow-color: #0f0f0f;
    --badge-teal-background: #12cba2;
    --badge-teal-color: #0f0f0f;
    --badge-tertiary-background: #1a3333;
    --badge-tertiary-color: #d0f0f0;
    --badge-turquoise-background: #16bdcb;
    --badge-turquoise-color: #0f0f0f;
    --badge-violet-background: #a50eda;
    --badge-violet-color: #fff5f5;
    --badge-wheat-background: #ae8d40;
    --badge-wheat-color: #0f0f0f;
    --badge-yellow-background: #d4d319;
    --badge-yellow-color: #0f0f0f;
    --button-primary-background: #41b2b2;
    --button-primary-color: #080d10;
    --button-primary-hover-background: #027f7f;
    --button-primary-hover-color: #e6edf3;
    --button-secondary-background: #cc5b5b;
    --button-secondary-color: #130f0f;
    --button-secondary-hover-background: #902c2c;
    --button-secondary-hover-color: #e6edf3;
    --button-tertiary-background: #1a3333;
    --button-tertiary-color: #e6edf3;
    --button-tertiary-hover-background: #2a4f4f;
    --button-tertiary-hover-color: #e6edf3;
    --color-black: #000000;
    --color-green: #2abf59;
    --color-hard: #d14f0a;
    --color-impossible: #d10a0a;
    --color-nightmare: #9343c4;
    --color-normal: #cfd324;
    --color-patriotic-tendrils-external: #c22513;
    --color-patriotic-tendrils-internal: #3f4fe0;
    --color-primary: #41b2b2;
    --color-progressive: #34c759;
    --color-red-lightning-external: #f77b6d;
    --color-red-lightning-internal: #c22513;
    --color-secondary: #b24141;
    --color-solo: #0088ff;
    --color-teal: #16b7c9;
    --color-tertiary: #0a2222;
    --color-yellow: #cfd324;
    --discord-brand-hover: #4752c4;
    --discord-brand-text: #ffffff;
    --discord-brand: #5865f2;
    --shadow-primary: rgba(255, 255, 255, 0.2);
    --shadow-secondary: rgba(255, 255, 255, 0.1);
    --text-color-black: #000000;
    --text-color-brand-primary: #b24141;
    --text-color-brand-secondary: #41b2b2;
    --text-color-green: #2abf59;
    --text-color-highlight: #cc5b5b;
    --text-color-primary: #f0fafa;
    --text-color-secondary: #9a9c9c;
    --text-color-teal: #16b7c9;
    --text-color-tertiary: #5ecece;
    --text-color-white: #f0fafa;
    --text-color-yellow: #cfd324;
    --text-hover-black: #000000;
    --text-hover-brand-primary: #b24141;
    --text-hover-brand-secondary: #51ebeb;
    --text-hover-highlight: #cc5b5b;
    --text-hover-primary: #a0f0f0;
    --text-hover-secondary: #f0fafa;
    --text-hover-tertiary: #a0f0f0;
    --text-hover-white: #a0f0f0;
    --theme-name: dark;
  }
}
