.wrapper {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 240px 24px 120px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  gap: 16px;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    gap: 48px;
  }
}

.title {
  color: var(--text-color-primary);
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
}

.info {
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs-sm);
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  margin-bottom: 8px;
}

.playerFinderWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 16px;
  width: 100%;
}

.discordLink {
  color: var(--discord-brand);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semi-bold);
  display: inline-flex;
  text-decoration: none;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 8px 0 16px 0;
}

.discordLink:hover {
  color: var(--discord-brand-hover);
}

.discordDetail {
  color: var(--text-color-primary);
  display: inline;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
}

.colored {
  color: var(--text-color-tertiary);
  font-weight: var(--font-weight-semi-bold);
}

@media (max-width: 480px) {
  .info {
    display: none;
  }
}

@media (max-width: 900px) {
  .discordDetail,
  .info .colored {
    display: none;
  }
}

.titleSection {
  text-align: left;
}

@media (max-width: 600px) {
  .titleSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.iconSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  position: relative;
}

@media (max-width: 900px) and (min-width: 601px) {
  .iconSection {
    padding-right: 24px;
  }
}
