@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  align-items: center;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
  height: 150px;
  width: 100%;
  transition: height 0.4s ease;
}

.containerCollapsed {
  padding: 0;
  height: 0;
}

.imageWrapper {
  cursor: pointer;
  animation: float 2s ease-in-out infinite;
  height: 64px;
}

.text {
  color: var(--text-color-primary);
  font-size: var(--font-size-xs-sm);
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 400px;
  padding-bottom: 16px;
}
